<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ManufacturingStoreEntities" connectionString="metadata=res://*/ManufacturingStore.csdl|res://*/ManufacturingStore.ssdl|res://*/ManufacturingStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rs01;initial catalog=ManufacturingStore_RAD2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>